.container {
  margin-inline: auto;
  max-width: 100%;
  width: $baseWidth;
  padding-inline: 60px;

  @include breakpoint(xl) {
    padding-inline: 30px;
  }

  @include breakpoint(sm) {
    padding-inline: 16px;
    width: 100%;
  }

  &-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-inline-end: calc(var(--bs-gutter-x) * 0.5);
    padding-inline-start: calc(var(--bs-gutter-x) * 0.5);
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}

.desktop-only {
  @include breakpoint(xl) {
    display: none;
  }
}

.tablet-only {
  @include breakpoint(992px) {
    display: none;
  }
}

.mobile-only {
  @include breakpoint(sm) {
    display: none;
  }
}
