:root {
  --body-bg-rgb: 237, 238, 241;
  --primary-rgb: 142, 84, 233;
  --secondary-rgb: 245, 111, 75;
  --warning-rgb: 245, 184, 73;
  --info-rgb: 73, 182, 245;
  --success-rgb: 38, 191, 148;
  --danger-rgb: 230, 83, 60;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 35, 35, 35;
  --orange-rgb: 255, 165, 5;
  --pink-rgb: 231, 145, 188;
  --teal-rgb: 18, 194, 194;
  --purple-rgb: 177, 75, 213;
  --default-body-bg-color: rgb(var(--body-bg-rgb));
  --primary-color: rgb(var(--primary-rgb));
  --primary-border: rgb(var(--primary-rgb));
  --primary01: rgba(var(--primary-rgb), 0.1);
  --primary02: rgba(var(--primary-rgb), 0.2);
  --primary03: rgba(var(--primary-rgb), 0.3);
  --primary04: rgba(var(--primary-rgb), 0.4);
  --primary05: rgba(var(--primary-rgb), 0.5);
  --primary06: rgba(var(--primary-rgb), 0.6);
  --primary07: rgba(var(--primary-rgb), 0.7);
  --primary08: rgba(var(--primary-rgb), 0.8);
  --primary09: rgba(var(--primary-rgb), 0.9);
  --primary005: rgba(var(--primary-rgb), 0.05);
  --default-font-family: 'Inter', sans-serif;
  --default-font-weight: 400;
  --default-text-color: #1b2c3f;
  --default-border: #f0f0f0;
  --default-background: #f2f4f7;
  --menu-bg: #1c2c3f;
  --menu-prime-color: #768394;
  --menu-border-color: #f3f3f3;
  --header-bg: linear-gradient(to right, #4776e6 0%, var(--primary-color)100%);
  --header-border-color: rgba(255, 255, 255, .1);
  --header-prime-color: rgba(255, 255, 255, .7);
  --custom-white: #fff;
  --custom-black: #000;
  --bootstrap-card-border: #f3f3f3;
  --list-hover-focus-bg: #f5f6f7;
  --text-muted: #818995;
  --input-border: #e4e9f4;
  --form-control-bg: #ffffff;
  --gray-1: #f9fafb;
  --gray-2: #f2f4f5;
  --gray-3: #e6eaeb;
  --gray-4: #dbdfe1;
  --gray-5: #949eb7;
  --gray-6: #7987a1;
  --gray-7: #4d5875;
  --gray-8: #383853;
  --gray-9: #323251;
  --white-1: rgba(255, 255, 255, 0.1);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);
  --black-1: rgba(0, 0, 0, 0.1);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-color: var(--bs-border-color-translucent);
}

[data-theme='dark'] {
  --body-bg-rgb: 38, 44, 60;
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-prime-color: rgba(255, 255, 255, 0.6);
  --custom-white: rgb(var(--body-bg-rgb));
  --custom-black: #fff;
  --default-border: rgba(255, 255, 255, 0.1);
  --default-text-color: rgba(255, 255, 255, 0.7);
  --light-rgb: 47, 52, 66;
  --dark-rgb: 240, 245, 248;
  --bootstrap-card-border: rgba(255, 255, 255, 0.1);
  --list-hover-focus-bg: rgba(255, 255, 255, 0.1);
  --default-background: rgba(255, 255, 255, 0.1);
  --default-body-bg-color: rgb(var(--body-bg-rgb), 0.95);
  --text-muted: rgba(255, 255, 255, 0.5);
  --input-border: #3b4152;
  --form-control-bg: #262c3c;
  --gray-1: rgba(0, 0, 0, 0.1);
  --gray-2: #17171c;
  --gray-3: #393946;
  --gray-4: #505062;
  --gray-5: #73738c;
  --gray-6: #8f8fa3;
  --gray-7: #ababba;
  --gray-8: #c7c7d1;
  --gray-9: #e3e3e8;
  --white-1: rgba(0, 0, 0, 0.1);
  --white-2: rgba(0, 0, 0, 0.2);
  --white-3: rgba(0, 0, 0, 0.3);
  --white-4: rgba(0, 0, 0, 0.4);
  --white-5: rgba(0, 0, 0, 0.5);
  --white-6: rgba(0, 0, 0, 0.6);
  --white-7: rgba(0, 0, 0, 0.7);
  --white-8: rgba(0, 0, 0, 0.8);
  --white-9: rgba(0, 0, 0, 0.9);
  --black-1: rgba(255, 255, 255, 0.1);
  --black-2: rgba(255, 255, 255, 0.2);
  --black-3: rgba(255, 255, 255, 0.3);
  --black-4: rgba(255, 255, 255, 0.4);
  --black-5: rgba(255, 255, 255, 0.5);
  --black-6: rgba(255, 255, 255, 0.6);
  --black-7: rgba(255, 255, 255, 0.7);
  --black-8: rgba(255, 255, 255, 0.8);
  --black-9: rgba(255, 255, 255, 0.9);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-color: var(--bs-border-color-translucent);
  --menu-prime-color: rgb(171, 184, 199);
  --menu-prime-icon-color: rgb(130, 145, 164);
}

[data-menu-styles='dark'] {
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-bg: rgb(38, 44, 60);
}

body {
  background-color: var(--default-body-bg-color);
}