.u-flex {
  display: flex;
  flex-wrap: wrap;
}
.u-center {
  align-items: center;
}
.u-between {
  justify-content: space-between;
}
.u-t-center {
  text-align: center;
}
.u-center {
  justify-content: center;
}
.u-fullheight {
  height: 100vh;
}
.u-fullwidth {
  width: 100vw;
}

.card {
  border-radius: 0.4rem;
  border: 1px solid transparent;
  background-color: var(--custom-white);
  box-shadow: 0 0.15rem 0.1rem #0000000a;
  position: relative;
  margin-block-end: 1.5rem;
  width: 100%;
}

.border {
  border: 1px solid var(--default-border);
}

[data-page-style='classic'] .card {
  box-shadow: none;
  border-color: var(--default-border);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 102;
  pointer-events: all;
  display: none;
}
.avatar {
  position: relative;
  height: 2.625rem;
  width: 2.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 500;
}
.ant-drawer {
  .white-drawer {
    background: var(--custom-white);
    .ant-drawer-header {
      border-bottom: 1px solid var(--default-border);
    }
  }
  .ant-drawer-header {
    .ant-drawer-close,
    .ant-drawer-title {
      color: var(--default-text-color);
    }
  }
}
