@import '../../assets/scss/breakpoint';

.sidebar {
  width: 15rem;
  height: 100%;
  background: var(--menu-bg);
  border-inline-end: 1px solid var(--menu-border-color);
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 103;
  transition: all 0.1s ease-out;

  @include breakpoint(md) {
    transform: translateX(0);
  }

  p {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 50px;
  }
}

//▼ Nav Layout ▼
[data-nav-layout='horizontal'] {
  .header {
    padding-left: 0;
    &__main-content {
      padding-inline: calc(var(--bs-gutter-x) * 0.5);
    }
    .icon-open-menu {
      display: none;
    }
  }
  .sidebar {
    width: 100%;
    height: 3rem;
    inset-block-start: 3.95rem;
  }
  .breadcrumb {
    margin: 0;
    padding: 0.2rem 5rem 3rem 4.4rem;
    top: 6.7rem;
  }

  .main-layout__content {
    margin-left: 0;
    margin-block-start: 4.15rem;
  }
  .footer {
    padding-left: 0;
  }
}

[data-show-sidebar='hide'] {
  .sidebar {
    width: 5rem;
  }
  .header {
    padding-left: 5rem;
  }
  .main-layout__content {
    margin-left: 5rem;
  }
  .footer {
    padding-left: 5rem;
  }

  @include breakpoint(md) {
    .sidebar {
      width: 15rem;
      transform: translateX(-15rem);
    }
    .header {
      padding-left: 0;
    }
    .main-layout__content {
      margin-left: 0;
    }
    .footer {
      padding-left: 0;
    }
  }
}

[data-show-sidebar='show'] {
  .main-layout {
    .breadcrumb {
      padding-left: 16.4rem;
    }
  }

  @include breakpoint(md) {
    .header {
      padding-left: 0;
      &__main-content {
        padding-inline: calc(var(--bs-gutter-x) * 0.5);
      }
    }
    .main-layout {
      .breadcrumb {
        padding-inline: 1.5rem;
      }
    }
    .main-layout__content {
      margin-left: 0;
      margin-block-start: 4.15rem;
    }
    .footer {
      padding-left: 0;
    }
    .sidebar__overlay {
      display: block;
    }
  }
}
[data-nav-layout='horizontal'] {
  .sidebar__overlay {
    display: none !important;
  }
}

[data-nav-layout='horizontal'][data-show-sidebar='hide'] {
  .sidebar {
    width: 100%;
    transform: translateX(0);
  }
  .main-layout__content {
    margin-left: 0;
  }
  .footer {
    padding-left: 0;
  }
  .main-layout {
    .breadcrumb {
      padding-left: 6.4rem;
    }
  }
}
[data-header-position='scrollable'][data-nav-layout='horizontal'] {
  .sidebar {
    position: sticky;
    top: 0;
    inset-block-start: 0;
  }
}
//▲ Nav Layout ▲
