.main-layout {
  &__content {
    margin-left: 5rem;
    min-height: calc(100vh - 12rem);
    margin-block-end: 0;
    margin-block-start: 3.15rem;
    position: relative;
    z-index: 1;
  }

  .breadcrumb {
    position: relative;
    margin: 0 0 -24px;
    padding: .2rem 1.45rem 3rem 6.4rem;
    top: 4rem;
  }
}

[data-show-sidebar='show'] {
  .main-layout__content {
    margin-left: 15rem;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
}