.breadcrumb {
  flex-wrap: wrap;
  position: relative;
  min-height: 115px;
  border: 1px solid transparent;
  border-radius: 0;
  background: var(--header-bg);
  background-position: center;
  background-size: cover;
  color: #fff;
  top: 4rem;
  display: flex;
  align-items: center;
}

[data-show-sidebar='show'] {
  .breadcrumb {
    padding-inline-start: 16.4rem;
  }
}