.home-page {
  position: relative;
  border-radius: .4rem;
  border: 0px solid var(--default-border);
  background-color: var(--custom-white);
  box-shadow: 0 .15rem .1rem #0000000a;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 1rem;
}